body { 
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

h1 { 
    font-size: 50px;
    font-family: 'Lucida Sans';
    text-align: center;
}

li { 
    font-size: 35px;
    list-style: none;
}

li { 
    list-style: none;
    font-size: 25px;
    margin: 0%;
    text-align: left;
    float: left;
    display: inline;
}

button { 
    width: 10%;
    font-size: 25px;
}

#newButtons { 
    float: right;
    font-size: 25px;
    margin: 2px
}

#main-nav { 
    padding-top: 2.5%;
    text-align: center;
}

#list {     
    padding-top: 1.5%;
    text-align: center;
}

#search { 
    width: 70%;
    font-size:25px;
}